---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="첫 글: 블로그 오픈">
  <h1>첫 글: 블로그 오픈</h1>
  <p>Astro + GitHub Pages 워크플로로 만든 블로그입니다.</p>
  <pre><code>npm install
npm run dev</code></pre>
</Layout>
