---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Resume">
  <h1>Resume</h1>
  <p>여기에 이력서 요약을 적거나, <code>public/resume.pdf</code>를 업로드한 뒤 <a href="/resume.pdf">PDF 바로가기</a>로 연결하세요.</p>
</Layout>
